:root{
    /* o root define variaveis que podem ser reutilizadas 
    em todo o documento.
    
    as variaveis começam com -- 
    para utilizar var(--nome)
    */

    --primary-color: #ffbc0d;
    --secondary-color: #dc0f1c;
    --text-color: #232323;
    --background-color: #f6f6f6;
}

.dark-mode {
  --primary-color: #f5d585;
  --secondary-color: #ff8189;
  --text-color: #f6f6f6;
  --background-color: #232323;
}
